{
    "openapi": "3.0.1",
    "info": {
        "title": "ms-api-vod-browsing",
        "description": "ms-api-vod-browsing",
        "contact": {
            "name": "APIVOD",
            "email": "tvmdev.olpssoft@orange.com"
        },
        "version": "1.18.4"
    },
    "servers": [
        {
            "url": "https://rp-ott-mediation-tv.woopic.com/api-gw/vodms/v13/applications"
        },
        {
            "url": "http://localhost:8080"
        }
    ],
    "tags": [
        {
            "name": "articles",
            "description": "Articles APIs"
        },
        {
            "name": "catalogs",
            "description": "Catalogs APIs"
        },
        {
            "name": "categories",
            "description": "Categories APIs"
        },
        {
            "name": "corners",
            "description": "Corners APIs"
        },
        {
            "name": "highlights",
            "description": "Global highlights api"
        }
    ],
    "paths": {
        "/{version}/highlights": {
            "get": {
                "tags": [
                    "highlights"
                ],
                "description": "Gets the global highlights",
                "operationId": "getGlobalHighlights",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HighlightListDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/corners/{cornerId}": {
            "get": {
                "tags": [
                    "corners"
                ],
                "description": "Gets the corner matching the specified identifier.",
                "operationId": "getCorner",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "cornerId",
                        "in": "path",
                        "description": "Corner identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=20 (Invalid URL parameter value)</p><p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "<p>code=60 (Resource not found)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/catalogs/{catalogId}/highlights": {
            "get": {
                "tags": [
                    "catalogs"
                ],
                "description": "Gets the catalog matching the specified identifier. Does not retrieve its categories",
                "operationId": "getCatalogHighlights",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "Catalog identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2424VIDEO"
                    },
                    {
                        "name": "filterCharmAdult",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HighlightListDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=20 (Invalid URL parameter value)</p><p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "<p>code=60 (Resource not found)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/catalogs/{catalogId}/categories/{categoryId}": {
            "get": {
                "tags": [
                    "categories"
                ],
                "description": "Gets the category matching the specified identifier. Does not retrieve its articles",
                "operationId": "getCategoryFull",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "Catalog identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2424VIDEO"
                    },
                    {
                        "name": "categoryId",
                        "in": "path",
                        "description": "Category identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterCharmAdult",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryDetailedDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=20 (Invalid URL parameter value)</p><p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "<p>code=60 (Resource not found)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/catalogs/{catalogId}": {
            "get": {
                "tags": [
                    "catalogs"
                ],
                "description": "Gets the catalog matching the specified identifier. Does not retrieve its categories",
                "operationId": "getCatalogFull",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "Catalog identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2424VIDEO"
                    },
                    {
                        "name": "filterCharmAdult",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogDetailedDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=20 (Invalid URL parameter value)</p><p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "<p>code=60 (Resource not found)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/catalogs": {
            "get": {
                "tags": [
                    "catalogs"
                ],
                "description": "Provides the list of catalogs",
                "operationId": "getCatalogs",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "filterCharmAdult",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CatalogDTO"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/articles/{articleId}": {
            "get": {
                "tags": [
                    "articles"
                ],
                "description": "Gets the article matching the specified identifier",
                "operationId": "getArticle",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "Article identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/IEpisodeDetailedDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IPackageDetailedDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ISeasonDetailedDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ISeriesDetailedDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IVideoDetailedDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=20 (Invalid URL parameter value)</p><p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "<p>code=60 (Resource not found)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "<p>code=60 (Resource is no longer available - Article is no more commercialized)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{version}/articles": {
            "get": {
                "tags": [
                    "articles"
                ],
                "description": "Get all articles matching specific filter",
                "operationId": "getArticles",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Version of the API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "v1"
                    },
                    {
                        "name": "personId",
                        "in": "query",
                        "description": "Filter by a list of person Id (comma-separated, case sensitive) , IDs coming from META backend",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "advisories",
                        "in": "query",
                        "description": "Filter by a list of advisories (comma-separated) => values: ALLPUBLIC, CHARM, ADULT (Case sensitive). No value means 'all advisories compatible with the given application'(no filter)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ALLPUBLIC",
                                    "CHARM",
                                    "ADULT"
                                ]
                            },
                            "default": [
                                "ALLPUBLIC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/EpisodeDTO"
                                            },
                                            {
                                                "$ref": "#/components/schemas/PackageDTO"
                                            },
                                            {
                                                "$ref": "#/components/schemas/SeasonDTO"
                                            },
                                            {
                                                "$ref": "#/components/schemas/SeriesDTO"
                                            },
                                            {
                                                "$ref": "#/components/schemas/VideoDTO"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<p>code=27 (Missing query-string parameter)</p><p>code=28 (Invalid query-string parameter)</p><p>code=2305 (API not supported in this version)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "<p>code=1 (Internal error)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "<p>code=5 (The service is temporarily unavailable)</p>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Numerical error code, as defined by OrangeAPI",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string",
                        "description": "Message associated to the error code"
                    },
                    "description": {
                        "type": "string",
                        "description": "Detailed description of the error"
                    },
                    "stackTrace": {
                        "type": "string",
                        "description": "Stack trace, not available in production"
                    }
                },
                "description": "Error message structure"
            },
            "AllocineRatingDTO": {
                "required": [
#                    "count",
#                    "rating"
                ],
                "type": "object",
                "properties": {
                    "rating": {
                        "type": "number",
                        "description": "Mean rating. Max is 5",
                        "format": "float"
                    },
                    "count": {
                        "type": "integer",
                        "description": "Number of evaluation used to compute the mean rating. Can be -1 if not applicable",
                        "format": "int32"
                    }
                },
                "description": "Rating coming from spectators that have seen and evaluated the content"
            },
            "AllocineRatingsDTO": {
                "required": [
#                    "press",
#                    "user"
                ],
                "type": "object",
                "properties": {
                    "press": {
                        "$ref": "#/components/schemas/AllocineRatingDTO"
                    },
                    "user": {
                        "$ref": "#/components/schemas/AllocineRatingDTO"
                    }
                },
                "description": "Rating coming from allocine given by users (viewers) and by press reviewers"
            },
            "ArticleDTO": {
                "required": [
#                    "allocineRatings",
                    "catalogId",
                    "covers",
                    "csa",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "productionYear",
                    "status",
                    "superGenres",
                    "title",
                    "type"
                ],
                "type": "object",
                "discriminator": {
                    "propertyName": "type"
                },
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HighlightableDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "price": {
                                "$ref": "#/components/schemas/PriceDTO"
                            },
                            "csa": {
                                "type": "integer",
                                "description": "Indicates the csa level of the article",
                                "format": "int32",
                                "enum": [
                                    1,
                                    2,
                                    3,
                                    4,
                                    5
                                ]
                            },
                            "genres": {
                                "type": "array",
                                "description": "List of article genres : action, comedy, etc : most accurate genres are listed first : french comedy ",
                                "items": {
                                    "type": "string",
                                    "description": "List of article genres : action, comedy, etc : most accurate genres are listed first : french comedy "
                                }
                            },
                            "productionYear": {
                                "type": "string",
                                "description": "The article's year of production"
                            },
                            "releaseDate": {
                                "type": "string",
                                "description": "The day this article was released (in theaters or for TV) - format: yyyyMMdd"
                            },
                            "superGenres": {
                                "type": "array",
                                "description": "list of superGenres of the category",
                                "items": {
                                    "type": "string",
                                    "description": "list of superGenres of the category"
                                }
                            },
                            "synopsis": {
                                "type": "string",
                                "description": "The synopsis of the current article. In articles lists, it is generally not provided (attribute is not present) but is only provided for episodes of a season and for videos of a pack"
                            },
                            "catalogId": {
                                "type": "string",
                                "description": "The catalog that the article belongs to"
                            },
                            "allocineRatings": {
                                "$ref": "#/components/schemas/AllocineRatingsDTO"
                            },
                            "status": {
                                "type": "string",
                                "description": "Status of the article",
                                "enum": [
                                    "PROSPECTED",
                                    "PROGRAMMED",
                                    "PUBLISHED",
                                    "REMOVED"
                                ]
                            },
                            "links": {
                                "type": "array",
                                "description": "URL pointing to the detailed information of the catalog item",
                                "items": {
                                    "$ref": "#/components/schemas/RESTLinkDTO"
                                }
                            }
                        }
                    }
                ]
            },
            "CatalogDTO": {
                "required": [
                    "advisory",
                    "covers",
                    "id",
                    "images",
                    "links",
                    "name",
                    "title",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HighlightableDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "identifier of the catalog"
                            },
                            "advisory": {
                                "type": "string",
                                "description": "Indicates the advisory of the catalog",
                                "enum": [
                                    "ALLPUBLIC",
                                    "CHARM",
                                    "ADULT"
                                ]
                            },
                            "images": {
                                "type": "array",
                                "description": "Resizable images of the article (Portrait and/or Landscape formats)",
                                "items": {
                                    "$ref": "#/components/schemas/ImageDTO"
                                }
                            },
                            "name": {
                                "type": "string",
                                "description": "name of the catalog"
                            },
                            "links": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/RESTLinkDTO"
                                }
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource, here always CATALOG",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            },
                            "title": {
                                "type": "string",
                                "description": "Title for the catalog, same as the catalog name"
                            },
                            "covers": {
                                "type": "array",
                                "description": "Images used to represent the catalog (Cover and Banner from SAP)",
                                "items": {
                                    "$ref": "#/components/schemas/ImageDTO"
                                }
                            }
                        }
                    }
                ]
            },
            "CategoryDTO": {
                "required": [
                    "advisory",
#                    "backgroundColor",
                    "catalogId",
                    "covers",
                    "id",
                    "images",
                    "links",
                    "name",
                    "nature",
                    "nbCategories",
                    "title",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HighlightableDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "identifier of the category in its catalog. If the category is a DISCOUNT_CATEGORY type, so this id is the id of the associated discount (appearing in users/me/discounts api response for example)"
                            },
                            "title": {
                                "type": "string",
                                "description": "Title for the category, could be same as the category name"
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource. In case of DISCOUNT_CATEGORY, on client side, you should hide this category and all highlights targeting it if the user is not compliant with associated discount, that is to say if users/me/discounts api response does not contain the discount ID given by the id of this Discount category.",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            },
                            "advisory": {
                                "type": "string",
                                "description": "Indicates the advisory of the category",
                                "enum": [
                                    "ALLPUBLIC",
                                    "CHARM",
                                    "ADULT"
                                ]
                            },
                            "images": {
                                "type": "array",
                                "description": "Resizable images of the article (Portrait and/or Landscape formats)",
                                "items": {
                                    "$ref": "#/components/schemas/ImageDTO"
                                }
                            },
                            "name": {
                                "type": "string",
                                "description": "Name for the category"
                            },
                            "discountPitch": {
                                "type": "string",
                                "description": "In case of this category is a DISCOUNT_CATEGORY type, this is the pitch describing the discount"
                            },
#                            "backgroundColor": {
#                                "type": "string",
#                                "description": "Color used to represent the category"
#                            },
                            "nature": {
                                "type": "string",
                                "description": "Nature of the category : COMPOSITE category (no articles, only sub categories and highlights), TERMINAL category (no sub categories, only highlights and articles), HIGHLIGHTS_ONLY category (no sub categories, all articles contained in highlights), EMPTY category (no sub categories, no highlights and no articles)",
                                "enum": [
                                    "COMPOSITE",
                                    "TERMINAL",
                                    "HIGHLIGHTS_ONLY",
                                    "EMPTY"
                                ]
                            },
                            "nbCategories": {
                                "type": "integer",
                                "description": "Number of sub categories",
                                "format": "int32"
                            },
                            "catalogId": {
                                "type": "string",
                                "description": "id of the belonging catalog"
                            },
                            "links": {
                                "type": "array",
                                "description": "Link pointing to the detailed description of the category",
                                "items": {
                                    "$ref": "#/components/schemas/RESTLinkDTO"
                                }
                            },
                            "covers": {
                                "type": "array",
                                "description": "Images used to represent the category (Cover and Banner of the main article if not overprint by SAP)",
                                "items": {
                                    "$ref": "#/components/schemas/ImageDTO"
                                }
                            }
                        }
                    }
                ]
            },
            "DiscountDTO": {
                "required": [
                    "discountId",
                    "minimalPrice",
                    "minimalRentPrice",
                    "minimalSellPrice",
                    "pastil"
                ],
                "type": "object",
                "properties": {
                    "discountId": {
                        "type": "string",
                        "description": "Identifier of the discount. This discount can be applicable for the user or not.(@see /users/me/discounts)"
                    },
                    "minimalPrice": {
                        "type": "number",
                        "description": "Minimal price available for the discount (regardless of the definition)"
                    },
                    "pastil": {
                        "type": "boolean",
                        "description": "indicates that a discount has a pastil or not"
                    },
                    "minimalSellPrice": {
                        "type": "number"
                    },
                    "minimalRentPrice": {
                        "type": "number"
                    },
                    "seriesDiscount": {
                        "$ref": "#/components/schemas/SeriesDiscountDTO"
                    }
                },
                "description": "List of all the discounts associated to an article, with the minimal price available"
            },
            "EpisodeDTO": {
                "required": [
                    "advisory",
                    "allocineRatings",
                    "catalogId",
                    "csa",
                    "duration",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "productionYear",
                    "seasonInfo",
                    "status",
                    "superGenres",
                    "title",
                    "trailers",
                    "type",
                    "videoType"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ArticleDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "boxOffice": {
                                "type": "integer",
                                "description": "Box office",
                                "format": "int64"
                            },
                            "trailers": {
                                "type": "array",
                                "description": "List of all the available trailers",
                                "items": {
                                    "$ref": "#/components/schemas/TrailerDTO"
                                }
                            },
                            "duration": {
                                "type": "integer",
                                "description": "Duration of the video in minutes",
                                "format": "int32"
                            },
                            "seasonInfo": {
                                "$ref": "#/components/schemas/EpisodeSeasonInfoDTO"
                            },
                            "allocineId": {
                                "type": "string",
                                "description": "allocine identifier"
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource, here always VIDEO",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            },
                            "videoType": {
                                "type": "string",
                                "description": "Type of the video (always EPISODE)",
                                "enum": [
                                    "MOVIE",
                                    "EPISODE"
                                ]
                            }
                        }
                    }
                ]
            },
            "EpisodeSeasonInfoDTO": {
                "required": [
                    "browsable",
                    "episodeNumber",
                    "id",
                    "links",
                    "seasonNumber",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "identifier of the season"
                    },
                    "title": {
                        "type": "string",
                        "description": "title of the season"
                    },
                    "browsable": {
                        "type": "boolean",
                        "description": "whether the season is browsable or not"
                    },
                    "seasonNumber": {
                        "type": "integer",
                        "description": "season number in the series",
                        "format": "int32"
                    },
                    "links": {
                        "type": "array",
                        "description": "url pointing to the detailed information of the season",
                        "items": {
                            "$ref": "#/components/schemas/RESTLinkDTO"
                        }
                    },
                    "episodeNumber": {
                        "type": "integer",
                        "description": "Episode number in the season",
                        "format": "int32"
                    }
                },
                "description": "Season information"
            },
            "HighlightListDTO": {
                "required": [
                    "availableCoverFormats",
                    "availableImageFormats",
                    "favoriteCoverFormat",
                    "favoriteImageFormat",
                    "items"
                ],
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "description": "List of all the highlights of the category",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ArticleDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/CatalogDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/CategoryDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/LinkDTO"
                                }
                            ]
                        }
                    },
                    "availableCoverFormats": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "List of all the image format available on all the highlights via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3'] (deprecated, use availableImageFormats instead)",
                        "items": {
                            "type": "string",
                            "description": "List of all the image format available on all the highlights via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3'] (deprecated, use availableImageFormats instead)",
                            "enum": [
                                "BACKGROUND",
                                "COVER",
                                "BANNER_1",
                                "BANNER_2",
                                "BANNER_3"
                            ]
                        }
                    },
                    "favoriteCoverFormat": {
                        "type": "string",
                        "description": "Image format to use to display highlights even if all highlights may not have this cover format available, null if no particular display format is expected (deprecated, use favoriteImageFormat instead)",
                        "enum": [
                            "BACKGROUND",
                            "COVER",
                            "BANNER_1",
                            "BANNER_2",
                            "BANNER_3"
                        ]
                    },
                    "favoriteImageFormat": {
                        "type": "string",
                        "description": "Image format to use to display articles even if all articles may not have this cover format available",
                        "enum": [
                            "BACKGROUND",
                            "COVER",
                            "BANNER_1",
                            "BANNER_2",
                            "BANNER_3"
                        ]
                    },
                    "availableImageFormats": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "List of all the image format available on all the article via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3']",
                        "items": {
                            "type": "string",
                            "description": "List of all the image format available on all the article via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3']",
                            "enum": [
                                "BACKGROUND",
                                "COVER",
                                "BANNER_1",
                                "BANNER_2",
                                "BANNER_3"
                            ]
                        }
                    }
                }
            },
            "HighlightableDTO": {
                "required": [
                    "covers",
                    "id",
                    "images",
                    "title",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "description": "Main title for the highlight"
                    },
                    "advisory": {
                        "type": "string",
                        "description": "Indicates the advisory of the highlight",
                        "enum": [
                            "ALLPUBLIC",
                            "CHARM",
                            "ADULT"
                        ]
                    },
                    "images": {
                        "type": "array",
                        "description": "Resizable images of the highlight (Portrait and/or Landscape formats)",
                        "items": {
                            "$ref": "#/components/schemas/ImageDTO"
                        }
                    },
                    "covers": {
                        "type": "array",
                        "description": "Covers of the highlight (Portrait and/or Landscape formats)",
                        "items": {
                            "$ref": "#/components/schemas/ImageDTO"
                        }
                    },
                    "type": {
                        "type": "string",
                        "description": "Type of resource",
                        "enum": [
                            "VIDEO",
                            "SERIES",
                            "SEASON",
                            "CATEGORY",
                            "DISCOUNT_CATEGORY",
                            "PACKAGE",
                            "LINK",
                            "CORNER",
                            "CATALOG",
                            "MENU",
                            "APPLICATION"
                        ]
                    },
                    "id": {
                        "type": "string",
                        "description": "Identifier of the resource"
                    }
                },
                "description": "List of all the highlights of the category",
                "discriminator": {
                    "propertyName": "type"
                }
            },
            "ImageDTO": {
                "required": [
                    "format",
                    "url"
                ],
                "type": "object",
                "properties": {
                    "format": {
                        "type": "string",
                        "description": "Format of the image : BACKGROUND image (image to be displayed in background of category screen), COVER image (small portrait image to be displayed in home/herozone or category screen (elements of carousel or mosaic)), BANNER_1 image (small landscape image to be displayed in home/herozone or category screen (elements of carousel or mosaic)), BANNER_2 image (medium lanscape image to be displayed in home/herozone or category screen (elements of carousel or mosaic)), BANNER_3 image (big landscape image to be displayed in top of category screen)",
                        "enum": [
                            "BACKGROUND",
                            "COVER",
                            "BANNER_1",
                            "BANNER_2",
                            "BANNER_3"
                        ]
                    },
                    "url": {
                        "type": "string",
                        "description": "Url of the image"
                    }
                },
                "description": "Images used to represent the category (Cover and Banner of the main article if not overprint by SAP)"
            },
            "LinkDTO": {
                "required": [
                    "advisory",
                    "catalogId",
                    "covers",
                    "id",
                    "images",
                    "link",
                    "title",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HighlightableDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "link": {
                                "type": "string",
                                "description": "link of the link"
                            },
                            "catalogId": {
                                "type": "string",
                                "description": "catalog is optional. It tells if the link refers a catalog that can be internal (I.E 2424VIDEO) or an external one (I.E CANAL)"
                            }
                        }
                    }
                ]
            },
            "PackageDTO": {
                "required": [
                    "advisory",
                    "allocineRatings",
                    "catalogId",
                    "csa",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "productionYear",
                    "status",
                    "superGenres",
                    "title",
                    "type",
                    "videoCount"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ArticleDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "videoCount": {
                                "type": "integer",
                                "description": "Number of videos available in the package",
                                "format": "int32"
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource, here always PACKAGE",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            }
                        }
                    }
                ]
            },
            "PriceDTO": {
                "required": [
                    "discounts",
                    "minimalCatalogPrice",
                    "rentMinimalCatalogPrice",
                    "sellMinimalCatalogPrice"
                ],
                "type": "object",
                "properties": {
                    "minimalCatalogPrice": {
                        "type": "number",
                        "description": "minimum price on the catalog for which the article is available"
                    },
                    "rentMinimalCatalogPrice": {
                        "type": "number",
                        "description": "rental minimum price on the catalog. -1.0 if no rental commercialization is available"
                    },
                    "sellMinimalCatalogPrice": {
                        "type": "number",
                        "description": "minimum price on the catalog.  -1.0 if no sell commercialization is available"
                    },
                    "discounts": {
                        "type": "array",
                        "description": "List of all the discounts associated to an article, with the minimal price available",
                        "items": {
                            "$ref": "#/components/schemas/DiscountDTO"
                        }
                    }
                },
                "description": "prices and discounts of the seasons when it is commercialized. !! In 'MyVideos' APIs, this attribute is only provided for seasons that the user has not already ordered (or some of its episodes) in order to display discount's patil on season (s)he may be interested in"
            },
            "RESTLinkDTO": {
                "required": [
                    "href",
                    "rel"
                ],
                "type": "object",
                "properties": {
                    "rel": {
                        "type": "string",
                        "description": "type of relation with container object",
                        "enum": [
                            "self",
                            "catalog",
                            "herozone",
                            "preview",
                            "season",
                            "menus",
                            "catalogs",
                            "highlights",
                            "interstitials"
                        ]
                    },
                    "href": {
                        "type": "string",
                        "description": "Link to navigate through the API"
                    }
                },
                "description": "Link pointing to the detailed description of the category"
            },
            "SeasonDTO": {
                "required": [
                    "advisory",
                    "allocineRatings",
                    "catalogId",
                    "csa",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "productionYear",
                    "seriesInfo",
                    "status",
                    "superGenres",
                    "title",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ArticleDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "seriesInfo": {
                                "$ref": "#/components/schemas/SeriesInfoDTO"
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource, here always SEASON",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            }
                        }
                    }
                ]
            },
            "SeriesDTO": {
                "required": [
                    "advisory",
                    "allocineRatings",
                    "catalogId",
                    "csa",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "productionYear",
                    "seasons",
                    "seasonsSumup",
                    "status",
                    "superGenres",
                    "title",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ArticleDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "seasons": {
                                "type": "array",
                                "description": "the minimal description of the series's seasons",
                                "items": {
                                    "$ref": "#/components/schemas/SeriesSeasonInfoDTO"
                                }
                            },
                            "browsingSeasonId": {
                                "type": "string",
                                "description": "the identifier of the season where to browse, by default"
                            },
                            "seasonsSumup": {
                                "type": "string",
                                "description": "the secondary title of the series"
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource, here always SERIES",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            }
                        }
                    }
                ]
            },
            "SeriesDiscountDTO": {
                "required": [
                    "browsingSeasonId",
                    "seasonIds"
                ],
                "type": "object",
                "properties": {
                    "browsingSeasonId": {
                        "type": "string",
                        "description": "The season where the user should directed on when the discount is applicable."
                    },
                    "seasonIds": {
                        "type": "array",
                        "description": "Alternatives seasons where the user may be directed on when the discount is applicable.",
                        "items": {
                            "type": "string",
                            "description": "Alternatives seasons where the user may be directed on when the discount is applicable."
                        }
                    }
                },
                "description": "For series only (not provided for others articles). Describes the seasons on which this discount may be applied. Use these informations to guide user to the right season."
            },
            "SeriesInfoDTO": {
                "required": [
                    "id",
                    "seasonInfo",
                    "seasonNumber",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "identifier of the series that season belongs to"
                    },
                    "title": {
                        "type": "string",
                        "description": "title of the series that season belongs to"
                    },
                    "seasonNumber": {
                        "type": "integer",
                        "description": "Season number in the series. Ex : season 3 of game of thrones",
                        "format": "int32"
                    },
                    "seasonInfo": {
                        "type": "array",
                        "description": "List of others series's seasons",
                        "items": {
                            "$ref": "#/components/schemas/SeriesSeasonInfoDTO"
                        }
                    }
                },
                "description": "Information about series that season belongs to"
            },
            "SeriesSeasonInfoDTO": {
                "required": [
                    "browsable",
                    "id",
                    "links",
                    "seasonNumber",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "identifier of the season"
                    },
                    "title": {
                        "type": "string",
                        "description": "title of the season"
                    },
                    "seasonNumber": {
                        "type": "integer",
                        "description": "season number in the series",
                        "format": "int32"
                    },
                    "browsable": {
                        "type": "boolean",
                        "description": "whether the season is browsable or not"
                    },
                    "links": {
                        "type": "array",
                        "description": "url pointing to the detailed information of the season",
                        "items": {
                            "$ref": "#/components/schemas/RESTLinkDTO"
                        }
                    },
                    "price": {
                        "$ref": "#/components/schemas/PriceDTO"
                    }
                },
                "description": "the minimal description of the series's seasons"
            },
            "TrailerDTO": {
                "required": [
                    "quality",
                    "terminalCategories",
                    "terminalModels"
                ],
                "type": "object",
                "properties": {
                    "quality": {
                        "type": "string",
                        "description": "Quality (SD, HD, 4K, ...)",
                        "enum": [
                            "SD",
                            "HD",
                            "4K",
                            "3D"
                        ]
                    },
                    "terminalCategories": {
                        "type": "array",
                        "description": "List of supported terminal categories for this trailer",
                        "items": {
                            "type": "string",
                            "description": "List of supported terminal categories for this trailer"
                        }
                    },
                    "terminalModels": {
                        "type": "array",
                        "description": "List of supported terminal models for this trailer",
                        "items": {
                            "type": "string",
                            "description": "List of supported terminal models for this trailer"
                        }
                    }
                },
                "description": "List of all the available trailers"
            },
            "VideoDTO": {
                "required": [
                    "advisory",
                    "allocineRatings",
                    "catalogId",
                    "csa",
                    "duration",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "productionYear",
                    "status",
                    "superGenres",
                    "title",
                    "trailers",
                    "type",
                    "videoType"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ArticleDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "boxOffice": {
                                "type": "integer",
                                "description": "Box office",
                                "format": "int64"
                            },
                            "trailers": {
                                "type": "array",
                                "description": "List of all the available trailers",
                                "items": {
                                    "$ref": "#/components/schemas/TrailerDTO"
                                }
                            },
                            "duration": {
                                "type": "integer",
                                "description": "Duration of the video in minutes",
                                "format": "int32"
                            },
                            "allocineId": {
                                "type": "string",
                                "description": "allocine identifier"
                            },
                            "type": {
                                "type": "string",
                                "description": "type of resource, here always VIDEO",
                                "enum": [
                                    "VIDEO",
                                    "SERIES",
                                    "SEASON",
                                    "CATEGORY",
                                    "DISCOUNT_CATEGORY",
                                    "PACKAGE",
                                    "LINK",
                                    "CORNER",
                                    "CATALOG",
                                    "MENU",
                                    "APPLICATION"
                                ]
                            },
                            "videoType": {
                                "type": "string",
                                "description": "Type of the video (always MOVIE)",
                                "enum": [
                                    "MOVIE",
                                    "EPISODE"
                                ]
                            }
                        }
                    }
                ]
            },
            "ArticleListDTO": {
                "required": [
                    "availableCoverFormats",
                    "availableImageFormats",
                    "favoriteCoverFormat",
                    "favoriteImageFormat",
                    "items"
                ],
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "description": "List of all the articles in the category",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/EpisodeDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/PackageDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/SeasonDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/SeriesDTO"
                                },
                                {
                                    "$ref": "#/components/schemas/VideoDTO"
                                }
                            ]
                        }
                    },
                    "favoriteCoverFormat": {
                        "type": "string",
                        "description": "Image format to use to display articles even if all articles may not have this cover format available (deprecated, use favoriteImageFormat instead)",
                        "enum": [
                            "BACKGROUND",
                            "COVER",
                            "BANNER_1",
                            "BANNER_2",
                            "BANNER_3"
                        ]
                    },
                    "availableCoverFormats": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "List of all the image format available on all the article via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3']  (deprecated, use availableImageFormats instead)",
                        "items": {
                            "type": "string",
                            "description": "List of all the image format available on all the article via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3']  (deprecated, use availableImageFormats instead)",
                            "enum": [
                                "BACKGROUND",
                                "COVER",
                                "BANNER_1",
                                "BANNER_2",
                                "BANNER_3"
                            ]
                        }
                    },
                    "favoriteImageFormat": {
                        "type": "string",
                        "description": "Image format to use to display articles even if all articles may not have this cover format available",
                        "enum": [
                            "BACKGROUND",
                            "COVER",
                            "BANNER_1",
                            "BANNER_2",
                            "BANNER_3"
                        ]
                    },
                    "availableImageFormats": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "List of all the image format available on all the article via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3']",
                        "items": {
                            "type": "string",
                            "description": "List of all the image format available on all the article via covers attribute, one image format can only appear once, image format values are ['BACKGROUND','COVER', 'BANNER_1','BANNER_2','BANNER_3']",
                            "enum": [
                                "BACKGROUND",
                                "COVER",
                                "BANNER_1",
                                "BANNER_2",
                                "BANNER_3"
                            ]
                        }
                    }
                },
                "description": "List of all the articles in the category"
            },
            "CategoryDetailedDTO": {
                "required": [
                    "advisory",
#                    "ancestors",
#                    "articles",
#                    "backgroundColor",
                    "catalogId",
                    "categories",
                    "covers",
                    "highlights",
                    "id",
                    "images",
                    "links",
#                    "mainArticleTitle",
                    "name",
                    "nature",
                    "nbArticles",
                    "nbCategories",
                    "sortingCriteria",
                    "superGenres",
                    "title",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "identifier of the category in its catalog. If the category is a DISCOUNT_CATEGORY type, so this id is the id of the associated discount (appearing in users/me/discounts api response for example)"
                    },
                    "title": {
                        "type": "string",
                        "description": "Title for the category, could be same as the category name"
                    },
                    "type": {
                        "type": "string",
                        "description": "type of resource. In case of DISCOUNT_CATEGORY, on client side, you should hide this category and all highlights targeting it if the user is not compliant with associated discount, that is to say if users/me/discounts api response does not contain the discount ID given by the id of this Discount category.",
                        "enum": [
                            "VIDEO",
                            "SERIES",
                            "SEASON",
                            "CATEGORY",
                            "DISCOUNT_CATEGORY",
                            "PACKAGE",
                            "LINK",
                            "CORNER",
                            "CATALOG",
                            "MENU",
                            "APPLICATION"
                        ]
                    },
                    "advisory": {
                        "type": "string",
                        "description": "Indicates the advisory of the category",
                        "enum": [
                            "ALLPUBLIC",
                            "CHARM",
                            "ADULT"
                        ]
                    },
                    "images": {
                        "type": "array",
                        "description": "Resizable images of the article (Portrait and/or Landscape formats)",
                        "items": {
                            "$ref": "#/components/schemas/ImageDTO"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "Name for the category"
                    },
                    "discountPitch": {
                        "type": "string",
                        "description": "In case of this category is a DISCOUNT_CATEGORY type, this is the pitch describing the discount"
                    },
                    "backgroundColor": {
                        "type": "string",
                        "description": "Color used to represent the category"
                    },
                    "nature": {
                        "type": "string",
                        "description": "Nature of the category : COMPOSITE category (no articles, only sub categories and highlights), TERMINAL category (no sub categories, only highlights and articles), HIGHLIGHTS_ONLY category (no sub categories, all articles contained in highlights), EMPTY category (no sub categories, no highlights and no articles)",
                        "enum": [
                            "COMPOSITE",
                            "TERMINAL",
                            "HIGHLIGHTS_ONLY",
                            "EMPTY"
                        ]
                    },
                    "nbCategories": {
                        "type": "integer",
                        "description": "Number of sub categories",
                        "format": "int32"
                    },
                    "catalogId": {
                        "type": "string",
                        "description": "id of the belonging catalog"
                    },
                    "links": {
                        "type": "array",
                        "description": "Link pointing to the detailed description of the category",
                        "items": {
                            "$ref": "#/components/schemas/RESTLinkDTO"
                        }
                    },
                    "mainArticleTitle": {
                        "type": "string",
                        "description": "Title of the main article for this category"
                    },
                    "nbArticles": {
                        "type": "integer",
                        "description": "Number of articles",
                        "format": "int32"
                    },
                    "sortingCriteria": {
                        "type": "string",
                        "description": "criteria used to sort the articles",
                        "enum": [
                            "DEFAULT",
                            "A_Z",
                            "Z_A",
                            "PUBLICATION_DATE",
                            "ORDER_DATE",
                            "AVAILABILITY_DATE",
                            "RATING_PRESS",
                            "RATING_VIEWERS",
                            "BOX_OFFICE"
                        ]
                    },
                    "highlights": {
                        "$ref": "#/components/schemas/HighlightListDTO"
                    },
                    "articles": {
                        "$ref": "#/components/schemas/ArticleListDTO"
                    },
                    "categories": {
                        "type": "array",
                        "description": "List of all the subcategories available in this category",
                        "items": {
                            "$ref": "#/components/schemas/CategoryDetailedDTO"
                        }
                    },
                    "ancestors": {
                        "type": "array",
                        "description": "List of all the ancestors categories of this category",
                        "items": {
                            "$ref": "#/components/schemas/CategoryDTO"
                        }
                    },
                    "superGenres": {
                        "type": "array",
                        "description": "list of superGenres of the category",
                        "items": {
                            "type": "string",
                            "description": "list of superGenres of the category"
                        }
                    },
                    "covers": {
                        "type": "array",
                        "description": "Images used to represent the category (Cover and Banner of the main article if not overprint by SAP)",
                        "items": {
                            "$ref": "#/components/schemas/ImageDTO"
                        }
                    }
                }
            },
            "CatalogDetailedDTO": {
                "required": [
                    "advisory",
                    "categories",
                    "covers",
                    "highlights",
                    "id",
                    "images",
                    "links",
                    "name",
                    "title",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "identifier of the catalog"
                    },
                    "advisory": {
                        "type": "string",
                        "description": "Indicates the advisory of the catalog",
                        "enum": [
                            "ALLPUBLIC",
                            "CHARM",
                            "ADULT"
                        ]
                    },
                    "images": {
                        "type": "array",
                        "description": "Resizable images of the article (Portrait and/or Landscape formats)",
                        "items": {
                            "$ref": "#/components/schemas/ImageDTO"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "name of the catalog"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RESTLinkDTO"
                        }
                    },
                    "highlights": {
                        "$ref": "#/components/schemas/HighlightListDTO"
                    },
                    "categories": {
                        "type": "array",
                        "description": "List of all the categories and sub-categories of the catalog (Complete catalog structure)",
                        "items": {
                            "$ref": "#/components/schemas/CategoryDetailedDTO"
                        }
                    },
                    "type": {
                        "type": "string",
                        "description": "type of resource, here always CATALOG",
                        "enum": [
                            "VIDEO",
                            "SERIES",
                            "SEASON",
                            "CATEGORY",
                            "DISCOUNT_CATEGORY",
                            "PACKAGE",
                            "LINK",
                            "CORNER",
                            "CATALOG",
                            "MENU",
                            "APPLICATION"
                        ]
                    },
                    "title": {
                        "type": "string",
                        "description": "Title for the catalog, same as the catalog name"
                    },
                    "covers": {
                        "type": "array",
                        "description": "Images used to represent the catalog (Cover and Banner from SAP)",
                        "items": {
                            "$ref": "#/components/schemas/ImageDTO"
                        }
                    }
                }
            },
            "AllocineReviewDTO": {
                "required": [
                    "author",
                    "paragraphs",
                    "provider",
                    "rating"
                ],
                "type": "object",
                "properties": {
                    "author": {
                        "type": "string",
                        "description": "Author of the review"
                    },
                    "provider": {
                        "type": "string",
                        "description": "Newspaper or organization providing the review"
                    },
                    "paragraphs": {
                        "type": "array",
                        "description": "Text of the review, organized by paragraph",
                        "items": {
                            "type": "string",
                            "description": "Text of the review, organized by paragraph"
                        }
                    },
                    "rating": {
                        "type": "number",
                        "description": "Rating given by the author of the review, max is 5",
                        "format": "float"
                    }
                },
                "description": "list of press reviews coming from allocine"
            },
            "ArticleDetailedDTO": {
                "required": [
#                    "allocineRatings",
                    "availabilityDate",
                    "catalogId",
                    "covers",
                    "csa",
                    "definitions",
                    "eligibleTerminalCategories",
                    "eligibleTerminalModels",
                    "genres",
                    "id",
                    "images",
                    "links",
                    "parentCategories",
                    "productionCountries",
                    "productionYear",
                    "rentalAvailabilityDate",
                    "status",
                    "superGenres",
                    "title",
                    "type"
                ],
                "type": "object",
                "discriminator": {
                    "propertyName": "type"
                },
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ArticleDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "definitions": {
                                "type": "array",
                                "description": "List of definitions available for this article",
                                "items": {
                                    "$ref": "#/components/schemas/DefinitionDTOCommercializationDTO"
                                }
                            },
                            "eligibleTerminalModels": {
                                "type": "array",
[...]
